* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    text-rendering: optimizeLegibility;
    text-decoration: none;
}

html,
body a {
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

::-webkit-scrollbar {
    display: none;
}

.mein {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

    .heading {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-bottom: 20px;
        letter-spacing: 5.5px;
        text-shadow: 0px 0px 2px black;
        text-align: center;

        .headingBottomtext {
            font-size: 15px;
        }
    }

    #settingsContainer {
        width: 550px;
        height: 120px;
        border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        margin-bottom: 10px;
        flex-wrap: wrap;

        .partone {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #TotalNumber {
            width: 80px;
            height: 40px;
            text-indent: 10px;
            outline: none;
            border: 1px solid rgb(19, 169, 192);
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;

            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            letter-spacing: 1.2px;
        }

        #enter {
            width: 100px;
            height: 40px;
            border: none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            cursor: pointer;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            background-color: #04aa6d;
            color: #fff;
            font-size: 15px;
        }

        #timer-box {
            width: 170px;
            height: 40px;
            border: 1px solid;

            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-family: roboto;
            font-size: 15px;
            letter-spacing: 1.5px;

            #timer {
                width: 100px;
                height: 30px;
                border-radius: 5px;
                background-color: #2e3e26;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                gap: 5px;
            }
        }

        #resetBtn {
            width: 100px;
            height: 40px;
            background-color: #d73445;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: roboto;
            font-weight: bold;
            font-size: 15px;
            color: #fff;
            cursor: pointer;
            transition: all .4s linear;
            transform-origin: left;
        }

        #resetBtn:active {
            background-color: #ec939c;
        }

        #reverse {
            padding: 10px 20px;
            background-color: #04aa6d;
            border-radius: 5px;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: #fff;
            cursor: pointer;
            pointer-events: none;
            font-weight: bold;
        }
    }

    .mein-box {
        width: 550px;
        min-height: 200px;
        border-radius: 5px;
        border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 15px;
        overflow: hidden;
        font-size: 10px;
        position: relative;
        transition: all .2s linear;


        .inner {
            width: 100%;
            height: 100%;
            position: absolute;
            padding: 20px;
        }

        .mein-box-heading {
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }

        .mein-box-sub-heading {
            margin-top: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            font-size: 13px;
        }

        .ol {
            margin-top: 20px;
            font-family: roboto;
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: 11px;
            list-style: none;
            color: #705a5c;
        }

        .box {
            width: 30px;
            height: 30px;
            border: 1px solid;
            border-radius: 5px;
            cursor: pointer;
            font-size: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .4s linear;
            opacity: 0;
            flex-shrink: 1;
            transform: scale(0);
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform-origin: top;

        }

        .congrats-heading {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: bold;

        }

        .time-taken {
            margin-top: 10px;
            font-size: 12px;
            font-family: roboto;
            font-weight: 100;
            letter-spacing: 1.3px;
        }
    }

    .PreviseGameDetaBtn {
        padding: 10px 30px;
        font-size: 15px;
        font-family: roboto;
        background-color: transparent;
        transition: all .4s linear;
        border: 1px solid #04aa6d;
        border-radius: 50px;
        cursor: pointer;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        margin-top: 10px;
        margin-bottom: 50px;
        font-weight: 1000;
        letter-spacing: 1.4px;

    }

    .PreviseGameDetaBtn:hover {
        background-color: #04aa6d;
        color: #ffff;
    }

    .PreviseGameDeta {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s linear;

        display: none;

        #closeBtn {
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
            transition: all .1s linear;
            -webkit-transition: all .1s linear;
            -moz-transition: all .1s linear;
            -ms-transition: all .1s linear;
            -o-transition: all .1s linear;
            background-color: #d73445;
            color: #fff;
            font-size: 17px;
            padding: 5px 15px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            border: none;
        }

        #closeBtn:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
        }


        .container {
            width: 70%;
            min-height: 500px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 5px;
            overflow: hidden;
            text-transform: capitalize;


            .header {
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                padding-inline: 20px;
                font-family: roboto;
                font-size: 13px;
                background-color: #6e7bd7;
                border: none;
                color: #ffffffe0;
                letter-spacing: 1.4px;
                font-weight: bold;
                flex-wrap: wrap;

                .dateHeader {
                    width: 100px;

                }

                .numberHeader {
                    width: 100px;

                }

                .TakenTimeHeader {
                    width: 100px;

                }

                .WrongClickHeader {
                    width: 100px;

                }
            }

            .row {
                width: 100%;
                height: 50px;
                border-bottom: 1px solid #b6969888;
                display: flex;
                align-items: center;
                padding-inline: 20px;
                font-family: roboto;
                font-size: 10px;
                color: #705a5c;
                letter-spacing: 1.4px;
                font-weight: bold;
                justify-content: space-between;

                .dateData {
                    width: 100px;

                }

                .numberData {
                    width: 100px;

                    margin-left: 55px;
                }

                .TakenTimeData {
                    width: 150px;

                    margin-left: 50px;
                }

                .WrongClickData {
                    width: 100px;

                }
            }


        }
    }


    .TakenTime {
        background-color: #04aa6d;
    }



    .congratulations {
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
        pointer-events: none;
    }
}

.PreviseGameDetaHeading{
    position: absolute;
        top: 10px;
        color: #464545  ;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
       
        
}


@media only screen and (max-width: 600px) {
    .mein {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        overflow: hidden;
    }

    .heading {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-bottom: 50px;
        letter-spacing: 5.5px;
        text-shadow: 0px 0px 2px black;
        text-align: center;
        font-size: 35px;
        margin-top: 30px;

    }

    .headingBottomtext {
        font-size: 15px !important;
        color: #3d3334;
        letter-spacing: 1px;

    }

    #settingsContainer {
        width: 550px;
        min-height: 200px !important;
        flex-direction: column;
        overflow: hidden;
        margin-top: 0px;
        border: none !important;

        #TotalNumber {
            width: 200px !important;
            height: 40px;
            text-indent: 10px;

        }

        #enter {
            width: 100px;
            height: 40px;
            border: none;
            background-color: #04aa6d;
            color: #fff;
            font-size: 15px;
        }





    }



    .mein-box {
        width: 400px !important;
        height: auto !important;
        border-radius: 5px;
        margin-bottom: 50px !important;
        border: 1px solid;
        display: flex;
        align-items: start !important;
        /* justify-content: start !important; */
        flex-wrap: wrap;
        gap: 15px !important;
        padding: 15px !important;
        overflow: hidden;
        font-size: 10px;
        position: relative;
        transition: all .2s linear;

        .inner {
            width: 100% !important;
            height: 100%;
            position: relative !important;
            padding: 30px !important;
        }

        .mein-box-heading {
            font-size: 15px !important;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }

        .congrats-heading {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }
    }




    .container {
        display: none;
    }

    .PreviseGameDeta {
        align-items: start !important;


    }

    .mobileContainer {
        width: 100%;
        display: block !important;
    }

    .mobileHeader {
        background-color: #6e7bd7;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        font-size: 12px;
        padding-inline: 10px;
        color: #ffffffe0;
        margin-top: 50px;
        font-family: roboto;
        font-size: 13px;
        background-color: #6e7bd7;
        border: none;
        color: #ffffffe0;
        letter-spacing: 1.4px;
        font-weight: bold;
        flex-wrap: wrap;
        text-transform: capitalize !important;
    }

    .boxes {
        color: #000;
        font-size: 10px;
        .row{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            text-align: center;
           
        }
        .dateData {
            width: 0px !important;

        }

        .numberData {
            width: 0px !important;
            
            margin-left: 50px;
        }

        .TakenTimeData {
            width: auto ;
             font-size: 10px ;

            margin-left: 30px;
        }

        .WrongClickData {
            width: 0px !important;
            margin-right: 50px;
        }
    }
    .PreviseGameDetaHeading{
        position: absolute;
            top: 10px;
            left: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            text-transform: uppercase;
           
            
    }
    

}